<li class="post">
  <%= get_post_avatar(post) -%>
  <div class="media-body">
    <div class="info">
      Posted <%= time_ago_in_words(post.created_at) -%> ago <small>via</small> <%= get_post_link(post) -%>
    </div>
    <div class="content">
      <%= get_post_content(post) -%>
    </div>
  </div>
</li>