$('#posts').append('<%=j render(@posts) -%>');

console.log("rendering <%= @posts.count.to_s -%> posts");

<%- if @posts.next_page -%>
$('.pagination').replaceWith('<%=j paginate(@posts) -%>');

<%- else -%>
//$(window).off('scroll');
$('.pagination').remove();

<%- end -%>