<li class="post">
  <%= get_post_avatar(entry) -%>
  <div class="media-body">
    <div class="info">
      Posted <%= time_ago_in_words(entry.created_at) -%> ago <small>via</small> <%= get_post_link(entry) -%>
    </div>
    <div class="content">
      <%= get_post_content(entry) -%>
    </div>
  </div>
</li>