$ ->
  if $("#infinite-scrolling").size() > 0
    $(window).bindWithDelay 'scroll', ->
      if $(window).scrollTop() > $(document).height() - $(window).height() - 300
        console.log('scrolled enough')
        more_posts_url = $('.pagination .next a').attr('href')
        console.log('url = '+more_posts_url)
        if more_posts_url
          console.log('loading more')
          $('.pagination').html('<img src="<%= asset_path('ajax-loader.gif') %>" alt="Loading..." title="Loading..." />')
          $.getScript(more_posts_url)
        return
      return
    , 100
    return