// sprockets first
@import "bootstrap-sprockets"

// Specified theme variables
@import "bootswatch/united/variables"

// Bootstrap itself
@import "bootstrap"

// Padding for body
body
  padding-top: 50px

// Bootswatch theme file
@import "bootswatch/united/bootswatch"

@import "settings"

// Center the brand in the navbar
.navbar-brand
  float: none
  position: absolute
  width: 100%
  left: 0
  top: 0
  text-align: center
  margin: auto

.navbar 
  margin-right: -30px

@import "post"
@import "pages"