// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$avatar-size: 64px
$avatar-border-radius: 8px
$post-margin-top: 10px
$post-inside-padding: $post-margin-top

.post 
  width: 100%
  margin-top: 10px
  padding: $post-inside-padding
  border: 1px solid $border-color
  border-radius: 5px
  min-height: $avatar-size + $post-inside-padding * 2 + 2px

  .avatar 
    height: $avatar-size
    width: $avatar-size
    margin-right: $post-inside-padding

    img
      max-height: 100%
      max-width: 100%
      border-radius: $avatar-border-radius

    &.empty
      border-radius: $avatar-border-radius
      border: 1px solid $border-color

  .info
    color: gray

    a
      color: darken(gray, 10%)

  .content
    .media
      width: 100%
      margin-top: 7px
      
      hr
        margin: 0
        border-color: $border-color
        
      a img
        margin-top: 10px
        width: 100%