<nav class="navbar navbar-fixed-top navbar-center">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'vladfaust.com', root_url, class: 'navbar-brand' -%>
    </div>
  </div>
</nav>