<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' -%>
<div class="container">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= yield %>
  </div>
  <div class="col-md-2"></div>
</div>
</body>
</html>
